#whats_new{
    position: fixed;
    z-index: 999;
    font-family: "Open Sans";
    font-weight: 300;
    width: 300px;
    left: 10px;
    top: 110px;
    padding: 10px;
    border-radius: 2px;
    background: #fff;
    transition: .1s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0,0 , 0.1);
    font-size: 14px;
}
#whats_new:hover{
    opacity: 0;
}


/*секция хидера на 100% ширины*/
.header_top_section{
    width: 100%;
    position: fixed;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0,0 , 0.1);
    z-index: 60;
}
/*сам хидер на 1000px*/
.header_top{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*первая секция с лого и номером телефона*/
.logo_info_section{
    display: flex;
    align-items: center;
}
/*список первой секции*/
.logo_info{
    display: inline-flex;
    align-items: center;
    padding: 0;
}
/*ссылка логотипа*/
.logo_link{
    display: flex;
    margin: 20px 10px 20px 20px;
}
/*блок горячей линии*/
.hotline{
    margin: 0 20px 0 0;
}
/*номер горячей линии*/
.hotline_number{
    font-size: 14px;
    font-family: Lato;
    color: #eb0602;
}
/*номер горячей линии при наведении*/
.hotline_number:hover{
    text-decoration: underline;
}
/*подпись (горячая линия)*/
.hotline_text{
    padding: 0;
    margin: 0;
    text-align: end;
    font-family: Roboto;
    font-size: 10px;
    color: #eb0602;
    font-weight: 300;
}
/*ссылка и иконка на твитер*/
.twitter_link{
    margin: 0 14px 0 0;
    display: flex;
}
/*ссылка на англ версию сайта*/
.eng_link{
    font-family: "Open Sans";
    font-size: 12px;
    color: #eb0602;
    display: flex;
    padding: 6px;
    transition: .3s;
}
/*ссылка на англ версию сайта при наведении*/
.eng_link:hover{
    color: #fff;
    background: #eb0602;
}
/*вторая секция навигации*/
.navigation_section{
    display: flex;
    margin: 0 15px 0 0;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 300;

}
/*сама секция навигации*/
.navigation{
    display: inline-flex;
    height: 100px;
}
/*пункты навигации*/
.navigation>li{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 0 10px;
    margin: 0 5px;
    transition: .3s;
    border-bottom: 5px solid #fff;
    box-sizing: ;
}
/*пункты навигации при наведении*/
.navigation li:hover{
    border-bottom: 5px solid #eb0602;
}
/*ссылки в навигации при наведении*/
.navigation li:hover a{
    color: #eb0602;
}
/*кнопки Новости + Вакансии при наведении*/
/*.separate_navigation_btns:hover{*/
    /*cursor: pointer;*/
/*}*/
/*todo рассмотреть эти кнопки*/

/*спойлерный блок*/
#navigation_spoilers{
    width: 100%;
    z-index: 60;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 100px;
}
/*спойлерная секция*/
.navigation_spoilers_section{
    width: 1000px;
    display: flex;
}
/*общий css для спойлеров*/
.information_spoiler_all_css{
    visibility: hidden;
    position: relative;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 0px 10px 0px rgba(0, 0,0 , 0.1);
    height: fit-content;
    display: none;
}
/*первый сполер*/
#information_spoiler_st{
    /*visibility: hidden;*/
    /*position: relative;*/
    left: 406px;
    width: 220px;
    height: auto;
    /*background: #fff;*/
}
/*второй спойлер*/
#information_spoiler_nd{
    /*visibility: hidden;*/
    /*position: relative;*/
    left: 509px;
    width: 220px;
    /*height: auto;*/
    /*background: #fff;*/
}
/*третий спойлер*/
#information_spoiler_rd{
    /*visibility: hidden;*/
    /*position: relative;*/
    left: 614px;
    width: 220px;
    /*height: 200px;*/
    /*background: #fff;*/
}
/*четвертый спойлер*/
#information_spoiler_th{
    /*visibility: hidden;*/
    /*position: relative;*/
    left: 760px;
    width: 220px;
    /*height: 200px;*/
    /*background: #fff;*/
}
/*ссылки в спойлере*/
.spoiler_links{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 8px 0;
    font-family: "Open Sans";

}
/*отступы элементов спойлеров*/
.spoiler_links li {
    margin: 6px 0 6px 20px;
}
/*цвет ссылок спойлеров при наведении*/
.spoiler_links li a:hover{
    color: #eb0602;
}



/*секция контента*/
#content{
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*секция с слайдшоу и ссылками*/
.header_bottom_section{
    /*position: absolute;*/
    /*top: 100px;*/
    width: 100%;
}
/*слайдшоу*/
#img_slider{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    background-image: url("../../imgs/1sliderpic.png");
    transition: 1s;
}
/*основной заголовок поверх слайдшоу*/
.main_text_h1{
    font-family: "Open Sans";
    font-size: 45px;
    color: #fff;
    font-weight: 500;
    margin: 135px 0 0 0;
}
/*кнопки поверх слайдшоу*/
.slider_btns ul{
    display: flex;
    justify-content: center;
}
/*ссылки кнопок слайдшоу*/
.slider_btns ul li a{
    display: flex;
    justify-content: center;
    color: #eb0602;
    width: 240px;
    font-family: Rubik;
    background: #fff;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 0;
    margin: 80px 50px 190px 50px;
    transition: .3s;
}
/*ссылки кнопок слайдшоу при наведении*/
.slider_btns ul li a:hover{
    color: #fff;
    background: #eb0602;
}
/*объвитель секции создания маршрута*/
#create_way_section{
    width: 100%;
}

/*секция создания маршрута*/
.create_way_section{
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
}
/*заголовок создать маршрут*/
.create_way_text{
    font-family: Rubik;
    font-weight: 300;
    font-size: 20px;
    margin: 40px 0 0 0;
    color: #070640;
}
/*свойства станций в списках*/
.station,
.station2{
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 300;
    color: #000;
    background: #f0f0f0;
    align-items: center;
    padding: 0 20px;
    display: none;

}
/*свойства станций в списках при наведении*/
.station:hover,
.station2:hover{
    cursor: pointer;
}
/*секции со станциями и поиском*/
.station_section,
.station_section2{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
/*поле ввода*/
input{
    width: 500px;
    height: 8px;
    border-radius: 24px;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 300;
    color: #000;
    padding: 24px;
    border: 0;
    background: #e4e4e4;
}
/*поле ввода в фокусе*/
input:focus{
    outline: none;
    background: #f0f0f0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/*секции со станциями и поиском дополнительно*/
.station_section,
.station_section2{
    height: fit-content;
    max-height: 215px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 500px;
    position: absolute;
}
/*зеленая отметка станции*/
.greencircle{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #29ae47;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
/*красная отметка станции*/
.redcircle{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #eb0602;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
/*синяя отметка станции*/
.bluecircle{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #0061b4;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
/*ссылки*/
a{
    text-decoration: none;
    color: #000;
}
/*названия станций*/
.name,
.name2{
    -webkit-user-select: none;
}
/*первая графа поиска*/
.first_station_check{
    /*position: absolute;*/
    /*top: 100px;*/
    margin: 40px 0 0 0;
    z-index: 50;
}
/*вторая графа поиска*/
.second_station_check{
    /*position: absolute;*/
    /*top: 168px;*/
    /*display: block;*/
    z-index: 30;
    margin: 20px 0 0 0;
}
/*кнопка создать маршрут*/
#createway{
    z-index: 20;
    height: 48px;
    width: 240px;
    border: 1px solid #eb0602;
    background: #fff;
    color: #eb0602;
    border-radius: 24px;
    font-size: 14px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
    outline: 0;
}
/*кнопка создать маршрут при наведении*/
#createway:hover{
    color: #fff;
    background: #eb0602;
    border: 1px solid #fff;
    cursor: pointer;
}
/*текст вы также можете...*/
.interactive_map_info{
    /*position: absolute;*/
    /*top: 267px;*/
    font-size: 20px;
    font-weight: 300;
    font-family: Rubik;
    text-align: center;
    margin: 40px 0 0 0;

}
/*ссылка открывающая карту*/
.open_interactive_map{
    /*position: absolute;*/
    /*top: 306px;*/
    border-bottom: 1px solid #000;
    margin: 10px 0 40px 0;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 300;
}
/*ссылка открывающая карту при наведении*/
.open_interactive_map:hover{
    border-bottom: 1px solid #eb0602;
    color: #eb0602;
}
/*секция вывода маршрута объявлена*/
#console_section{
    width: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
}
/*секция вывода маршрута*/
.console{
    /*position: absolute;*/
    /*top: 400px;*/

    display: none;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    font-family: Rubik;

    font-weight: 300;
    /*outline: 1px solid #000;*/
    /*padding: 40px 0;*/
    width: 1000px;
    margin: 0 auto;
    /*min-height: 180px;*/
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
}
/*первая станция*/
.startStSection{
    margin: 40px 0 0 0;
}
/*станция пересадок*/
.transferStSection{
    margin: 20px 0 0 0;
}
/*конечная станция*/
.endStSection{
    margin: 20px 0 0 0;
}
/*кнопка с закрытием вывода маршрута*/
.closeWayBoxBtn{
    margin: 40px 0;
    width: 240px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #fff;
    transition: .3s;
    color: #fff;
    background: #eb0602;
}
/*кнопка с закрытием вывода маршрута при наведении*/
.closeWayBoxBtn:hover{
    cursor: pointer;
    border: 1px solid #eb0602;
    color: #eb0602;
    background: #fff;
}
/*просто кнопка*/
button{
    font-family: Rubik;
    font-weight: 300;
}




































